In [34]:
import pandas as pd
import pickle
import numpy as np
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.metrics import accuracy_score

In [35]:
df = pd.read_csv('nihss.csv', delimiter=',')

In [36]:
df.head

<bound method NDFrame.head of      Unnamed: 0  age  sex  height  weight  qrs_duration  p-r_interval  \
0             0   75    0     190      80            91           193
1             1   56    1     165      64            81           174
2             2   54    0     172      95           138           163
3             3   55    0     175      94           100           202
4             4   75    0     190      80            88           181
..          ...  ...  ...     ...     ...           ...           ...
447         447   53    1     160      70            80           199
448         448   37    0     190      85           100           137
449         449   36    0     166      68           108           176
450         450   32    1     155      55            93           106
451         451   78    1     160      70            79           127

     q-t_interval  t_interval  p_interval  ...   KY    KZ   LA   LB  LC   LD  \
0             371         174         121  ...  0.0   9.0  0.0  0.0   0  0.9
1             401         149          39  ...  0.0   8.5  0.0  0.0   0  0.2
2             386         185         102  ...  0.0   9.5  0.0  0.0   0  0.3
3             380         179         143  ...  0.0  12.2  0.0  0.0   0  0.4
4             360         177         103  ...  0.0  13.1  0.0  0.0   0  0.0
..            ...         ...         ...  ...  ...   ...  ...  ...  ..  ...
447           382         154         117  ...  0.0   4.3  0.0  0.0   0  0.7
448           361         201          73  ...  0.0  15.6  0.0  0.0   0  0.4
449           365         194         116  ...  0.0  16.3  0.0  0.0   0  1.5
450           386         218          63  ...  0.0  12.0  0.0  0.0   0  0.5
451           364         138          78  ...  0.0  10.4  0.0  0.0   0  0.5

      LE    LF    LG  diagnosis
0    2.9  23.3  49.4          1
1    2.1  20.4  38.8          1
2    3.4  12.3  49.0          1
3    2.6  34.6  61.6          0
4    3.9  25.4  62.8          1
..   ...   ...   ...        ...
447  0.6   0.0   0.0          0
448  2.4  38.0  62.4          1
449  1.0   0.0   0.0          1
450  2.4  25.0  46.6          0
451  1.6  21.3  32.8          0

[452 rows x 276 columns]>

In [37]:
df.dropna(axis=0, inplace=True)

In [38]:
df2 = df.iloc[:,240:275]


df.head()

,Unnamed: 0,age,sex,height,weight,qrs_duration,p-r_interval,q-t_interval,t_interval,p_interval,...,KY,KZ,LA,LB,LC,LD,LE,LF,LG,diagnosis
0,0,75,0,190,80,91,193,371,174,121,...,0.0,9.0,0.0,0.0,0,0.9,2.9,23.3,49.4,1
1,1,56,1,165,64,81,174,401,149,39,...,0.0,8.5,0.0,0.0,0,0.2,2.1,20.4,38.8,1
2,2,54,0,172,95,138,163,386,185,102,...,0.0,9.5,0.0,0.0,0,0.3,3.4,12.3,49.0,1
3,3,55,0,175,94,100,202,380,179,143,...,0.0,12.2,0.0,0.0,0,0.4,2.6,34.6,61.6,0
4,4,75,0,190,80,88,181,360,177,103,...,0.0,13.1,0.0,0.0,0,0.0,3.9,25.4,62.8,1

In [39]:
df2[df2<0]=0
df2

,JT,JU,JV,JY,JZ,KA,KB,KC,KD,KE,...,KV,KY,KZ,LA,LB,LC,LD,LE,LF,LG
0,0.0,0.6,5.9,0.0,52.7,0.0,0.0,15.2,0.0,0.0,...,0.0,0.0,9.0,0.0,0.0,0,0.9,2.9,23.3,49.4
1,0.0,0.9,3.8,0.0,27.7,0.0,0.0,9.5,0.0,0.0,...,0.0,0.0,8.5,0.0,0.0,0,0.2,2.1,20.4,38.8
2,0.0,0.4,0.3,20.4,23.3,0.7,0.0,10.0,0.0,0.0,...,0.9,0.0,9.5,0.0,0.0,0,0.3,3.4,12.3,49.0
3,0.0,0.1,4.1,7.6,51.0,0.4,0.0,15.0,0.0,0.0,...,0.1,0.0,12.2,0.0,0.0,0,0.4,2.6,34.6,61.6
4,0.0,0.0,4.7,0.0,43.0,0.0,0.0,15.2,0.0,0.0,...,0.0,0.0,13.1,0.0,0.0,0,0.0,3.9,25.4,62.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,0.0,0.0,2.2,0.0,3.8,0.2,0.0,2.9,0.0,0.0,...,0.0,0.0,4.3,0.0,0.0,0,0.7,0.6,0.0,0.0
448,0.0,0.0,10.8,27.7,137.8,0.1,0.0,22.5,0.0,0.9,...,0.0,0.0,15.6,0.0,0.0,0,0.4,2.4,38.0,62.4
449,0.0,1.4,0.0,0.0,0.0,0.0,0.0,20.6,0.0,0.0,...,1.2,0.0,16.3,0.0,0.0,0,1.5,1.0,0.0,0.0
450,0.0,0.9,7.3,3.9,94.4,0.4,0.0,11.9,0.0,0.0,...,0.2,0.0,12.0,0.0,0.0,0,0.5,2.4,25.0,46.6
451,0.0,0.4,2.9,38.3,60.9,0.0,0.0,23.6,0.0,0.0,...,0.0,0.0,10.4,0.0,0.0,0,0.5,1.6,21.3,32.8

In [40]:
df2 = df2.join(df["diagnosis"])
df2

,JT,JU,JV,JY,JZ,KA,KB,KC,KD,KE,...,KY,KZ,LA,LB,LC,LD,LE,LF,LG,diagnosis
0,0.0,0.6,5.9,0.0,52.7,0.0,0.0,15.2,0.0,0.0,...,0.0,9.0,0.0,0.0,0,0.9,2.9,23.3,49.4,1
1,0.0,0.9,3.8,0.0,27.7,0.0,0.0,9.5,0.0,0.0,...,0.0,8.5,0.0,0.0,0,0.2,2.1,20.4,38.8,1
2,0.0,0.4,0.3,20.4,23.3,0.7,0.0,10.0,0.0,0.0,...,0.0,9.5,0.0,0.0,0,0.3,3.4,12.3,49.0,1
3,0.0,0.1,4.1,7.6,51.0,0.4,0.0,15.0,0.0,0.0,...,0.0,12.2,0.0,0.0,0,0.4,2.6,34.6,61.6,0
4,0.0,0.0,4.7,0.0,43.0,0.0,0.0,15.2,0.0,0.0,...,0.0,13.1,0.0,0.0,0,0.0,3.9,25.4,62.8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,0.0,0.0,2.2,0.0,3.8,0.2,0.0,2.9,0.0,0.0,...,0.0,4.3,0.0,0.0,0,0.7,0.6,0.0,0.0,0
448,0.0,0.0,10.8,27.7,137.8,0.1,0.0,22.5,0.0,0.9,...,0.0,15.6,0.0,0.0,0,0.4,2.4,38.0,62.4,1
449,0.0,1.4,0.0,0.0,0.0,0.0,0.0,20.6,0.0,0.0,...,0.0,16.3,0.0,0.0,0,1.5,1.0,0.0,0.0,1
450,0.0,0.9,7.3,3.9,94.4,0.4,0.0,11.9,0.0,0.0,...,0.0,12.0,0.0,0.0,0,0.5,2.4,25.0,46.6,0
451,0.0,0.4,2.9,38.3,60.9,0.0,0.0,23.6,0.0,0.0,...,0.0,10.4,0.0,0.0,0,0.5,1.6,21.3,32.8,0

In [41]:
X = df2.drop(columns = 'diagnosis', axis=1)
Y = df2['diagnosis']

In [42]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [43]:
chi2_selector = SelectKBest(chi2,k=35)
X_kbest = chi2_selector.fit_transform(X, Y)

In [44]:
p_values=pd.Series(X_kbest[0])
p_values.index=X.columns
p_values.sort_values(ascending=False)

KJ    70.7
KU    62.9
JZ    52.7
LG    49.4
KT    25.5
LF    23.3
KI    17.7
KC    15.2
KM    13.5
KZ     9.0
JV     5.9
KH     5.1
KS     3.9
LE     2.9
KG     0.9
LD     0.9
KR     0.9
JU     0.6
JY     0.0
LC     0.0
LB     0.0
LA     0.0
KY     0.0
KV     0.0
KE     0.0
KA     0.0
KF     0.0
KP     0.0
KO     0.0
KN     0.0
KL     0.0
KK     0.0
KB     0.0
KD     0.0
JT     0.0
dtype: float64